<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="/static/common-styles.css">
    <link rel="stylesheet" href="/static/form-styles.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="form-container">
      <h1>Log In</h1>
      <form>
        <input type="text" id="username" name="username" placeholder="Enter your username">
        <input type="password" id="passwd" name="passwd" placeholder="Enter your password">
      </form>
      <button id="submit-button">Log In</button>
      <div>or <a href="/signup">sign up</a></div>
    </div>
  </body>
  <script src="/static/log-in.js"></script>
</html>
