<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="/static/common-styles.css">
    <link rel="stylesheet" href="/static/form-styles.css">
  </head>
  <body>
    <div id="form-container">
      <h1>Log In</h1>
      <input type="text" id="username" name="username" placeholder="Enter your username">
      <input type="text" id="passwd" name="passwd" placeholder="Enter your password">
      <div>or <a href="/signup">sign up</a></div>
    </div>
  </body>
</html>
