<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/static/common-styles.css">
  <link rel="stylesheet" href="/static/form-styles.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="form-container">
  <h1>Sign Up</h1>
  <form id="form1">
    <input type="text" id="username" name="username" placeholder="Username">
    <input type="text" id="passwd" name="passwd" placeholder="Password">
  </form>
  <form id="form2" style="display: none">
    <input type="text" id="full_name" name="full_name" placeholder="Full name: Черпак А. В.">
    <input type="text" id="id_card" name="id_card" placeholder="ID-card: 987654321">
    <input type="text" id="faculty" name="faculty" placeholder="Faculty: ФІОТ">
    <input type="text" id="birthdate" name="birthdate" placeholder="Birthdate: 2003-10-15">
    <input type="text" id="address" name="address" placeholder="Address: м. Житомир">
  </form>
  <button id="submit-button">Next</button>
  <div>or <a href="/login">log in</a></div>
</div>
</body>
<script src="/static/validations.js"></script>
<script src="/static/sign-up.js"></script>
</html>
